@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
 body
{
    background-image: url(../imagens/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}
main
{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login
{
    background-color: white;
    width: 250px;
    height: 540px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
}
#imagem
{
    display: block;
    background: blue url(../imagens/image-borrada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}
#formulario
{
    display: block;
    padding: 10px;
}
#formulario h1 
{
    text-align: center;
    margin-bottom: 10px;
}
#formulario p 
{
    font-size: 0.8em;
}
form .campo 
{
    display: block;
    background-color: rgba(0, 0, 0, 0.89); 
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
.campo > label
{
    display: none;
}
.campo > span
{
    position: absolute;
    color: white;
    font-size: 2em;
    height: 40px;
    padding: 5px;
}
.campo > input
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    left: 40px;
}
.campo > input:focus-within
{
    background-color: #fff;
}
form > input[type=submit]
{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    background-color: rgba(0, 0, 0, 0.89);
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 0px 5px black;
}
form > input[type=submit]:hover
{
    background-color: rgba(0, 0, 0, 0.486);
    color: black;
    cursor: pointer;
}
form  a.botao
{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
form a.botao:hover
{
    color: rgba(0, 0, 0, 0.486);
}
form a.botao > span
{
    font-size: 1.3em;
    color: black;
}